.gradle
/build/

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml
*.xml
*.class
*.class
*.iml
*.html
*.css
*.bin
*.idx
*.js
addressbook-web-tests/build/tmp/testContacts/jar_extract_4461527459365573308_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_178512071163292193_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_2443279351341905596_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_41135542541323020_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_7325786507410678276_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_7432384562532649993_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_768874913898233507_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_8957012651726361247_tmp
addressbook-web-tests/build/tmp/testContacts/jar_extract_992040984863135786_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_1351064847460313016_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_3210287543746503176_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_3310116220289648505_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_3617274584013571439_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_4369595315220452891_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_4920410360819792614_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_5542768928823290799_tmp
addressbook-web-tests/build/tmp/testGroups/jar_extract_719494697639508553_tmp
*.iml
*.log
